/****** Object:  Table [dbo].[wk6_employee_skill]    Script Date: 08/11/2021 18:13:38 ******/
DROP TABLE IF EXISTS [dbo].[wk6_employee_skill]
GO
/****** Object:  Table [dbo].[wk6_skill]    Script Date: 08/11/2021 18:13:38 ******/
DROP TABLE IF EXISTS [dbo].[wk6_skill]
GO
/****** Object:  Table [dbo].[wk6_employee]    Script Date: 08/11/2021 18:13:38 ******/
DROP TABLE IF EXISTS [dbo].[wk6_employee]
GO
/****** Object:  Table [dbo].[wk6_employee]    Script Date: 08/11/2021 18:13:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[wk6_employee](
	[employee_id] [int] IDENTITY(1,1) NOT NULL,
	[first_name] [varchar](50) NOT NULL,
	[last_name] [varchar](50) NOT NULL,
	[email_address] [varchar](70) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[employee_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[wk6_employee_skill]    Script Date: 08/11/2021 18:13:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[wk6_employee_skill](
	[employee_skill_id] [int] IDENTITY(1,1) NOT NULL,
	[employee_id] [int] NOT NULL,
	[skill_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[employee_skill_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[wk6_skill]    Script Date: 08/11/2021 18:13:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[wk6_skill](
	[skill_id] [int] IDENTITY(1,1) NOT NULL,
	[skill_name] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[skill_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[wk6_employee] ON 

INSERT [dbo].[wk6_employee] ([employee_id], [first_name], [last_name], [email_address]) VALUES (1, N'Augustina', N'Greatrakes', N'agreatrakes0@imdb.com')
INSERT [dbo].[wk6_employee] ([employee_id], [first_name], [last_name], [email_address]) VALUES (2, N'Penni', N'Iorillo', N'piorillo1@boston.com')
INSERT [dbo].[wk6_employee] ([employee_id], [first_name], [last_name], [email_address]) VALUES (3, N'Deborah', N'Ludovici', N'dludovici2@nhs.uk')
GO
SET IDENTITY_INSERT [dbo].[wk6_employee] OFF
SET IDENTITY_INSERT [dbo].[wk6_employee_skill] ON 

INSERT [dbo].[wk6_employee_skill] ([employee_skill_id], [employee_id], [skill_id]) VALUES (1, 1, 17)
INSERT [dbo].[wk6_employee_skill] ([employee_skill_id], [employee_id], [skill_id]) VALUES (2, 21, 41)
INSERT [dbo].[wk6_employee_skill] ([employee_skill_id], [employee_id], [skill_id]) VALUES (3, 22, 1)
GO
SET IDENTITY_INSERT [dbo].[wk6_employee_skill] OFF
SET IDENTITY_INSERT [dbo].[wk6_skill] ON 

INSERT [dbo].[wk6_skill] ([skill_id], [skill_name]) VALUES (1, N'TCR')
INSERT [dbo].[wk6_skill] ([skill_id], [skill_name]) VALUES (2, N'WM modules')
INSERT [dbo].[wk6_skill] ([skill_id], [skill_name]) VALUES (3, N'Kanban')
SET IDENTITY_INSERT [dbo].[wk6_skill] OFF
ALTER TABLE [dbo].[wk6_employee_skill]  WITH CHECK ADD FOREIGN KEY([employee_id])
REFERENCES [dbo].[wk6_employee] ([employee_id])
GO
ALTER TABLE [dbo].[wk6_employee_skill]  WITH CHECK ADD FOREIGN KEY([skill_id])
REFERENCES [dbo].[wk6_skill] ([skill_id])
GO
